<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Track</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Google Oauth 2.0 dependencies -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ config['CLIENT_ID'] }}">
    {% block headblock %}
    {% endblock %}
</head>

<body>  
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand mynavbrand" style="font-size: 1.5em;" href='{{url_for("user_homepage")}}'>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-smartwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 5h.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H14V5z"/>
                    <path fill-rule="evenodd" d="M8.5 4.5A.5.5 0 0 1 9 5v3.5a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h2V5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M4.5 2h7A2.5 2.5 0 0 1 14 4.5v7a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 11.5v-7A2.5 2.5 0 0 1 4.5 2zm0 1A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7z"/>
                    <path d="M4 2.05v-.383C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v.383a2.512 2.512 0 0 0-.5-.05h-7c-.171 0-.338.017-.5.05zm0 11.9c.162.033.329.05.5.05h7c.171 0 .338-.017.5-.05v.383c0 .92-.746 1.667-1.667 1.667H5.667C4.747 16 4 15.254 4 14.333v-.383z"/>
                  </svg> Health Track</a>
            </div>
 
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Health Tips <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://ombodyhealth.com/20-inspiring-quotes-health-life-balance/" target="_blank">Health Quotes</a></li>
                      <li><a href="https://www.webmd.com/diet/features/4-steps-healthy-lifestyle#1" target="_blank">Steps for Healthy Lifestyle</a></li>
                      <li><a href="https://familydoctor.org/health-guides-health-state-mind-body" target="_blank">Health-state-mind-body</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="https://www.healthline.com/nutrition/best-diet-plans" target="_blank">Diet Plans &#169; Healthline.com </a></li>
                    </ul>
                  </li>
                  <a class="btn btn-default navbar-btn" href="https://www.linkedin.com/in/abishektvs/" target="_blank">Creator</a>
                  {% if user %}
                  <a class="btn btn-danger" href="{{ url_for('signout') }}">logout</a>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block bodyblock %}
    {% endblock %}

    <script>
      function onSuccess(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();

      xhr.open('POST', '{{url_for("google_signin")}}');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200){
          var redirect_url = this.getResponseHeader("redirect_url")  
          var url = new URL(redirect_url,'http://localhost:5000/') //for localhost
          // var url = new URL(redirect_url,'https://health-tracko.herokuapp.com/') //for website
          var auth2 = gapi.auth2.getAuthInstance();
          var signed =  auth2.isSignedIn.get()
          auth2.signOut().then(function () {
            console.log('User signed out.',signed);
          });
          window.location.href = url
        }
      };
      xhr.send('idtoken=' + id_token);
    }

    function onFailure(error) {
      console.log(error);
    }
    
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 200,
        'height': 40,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure,
      });
    }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>