{% extends "base.html" %}
{% block bodyblock %}
<div class="page-header" style="text-align-last: center;">
    <h1>Forgot Password?<br> <small>Its fine to forget but we are here to help you</small></h1>
</div>
<div class="container" style="text-align-last: center;">
    <div class="panel panel-info">
        <div class="panel-heading">
        <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body" >
            {% if success %}
            <form action='{{url_for("check_otp")}}' method="POST">
                <h3>Hi {{ user.username }} !</h3>
                <div class="form-group">
                    <input type="hidden" name="email_address" value="{{user.email_address}}" >
                    <label for="otp">OTP</label>
                    <input style="width:40%; margin: auto;" type="text" name="otp" class="form-control" id="otp" placeholder="Enter OTP">
                </div>
                {% if errormsg %}
                <p style="color: red;">{{errormsg}}</p>
                {% endif %}
                <br>
                <button type="submit" class="btn btn-info">change password</button>
            </form>
            {% else %}
            <form action='{{url_for("reset_password")}}' method="POST">
                <div style="width:60%; margin: auto;" class="form-group">
                    <label for="loginEmail">Enter your Email address</label>
                    <input type="email" class="form-control" name="email" id="loginEmail" placeholder="Email address">
                </div>
                <br>
                {% if errormsg %}
                <p>{{errormsg}}</p>
                {% endif %}
                <button type="submit" class="btn btn-info">Request reset OTP</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% if success %}
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">OTP has been sent to your email! <br> Verify to reset your password</a>
    </div>
    {% endif %}
    
</div>

<script >
    function verify_email_and_send_OTP() {
    var xhr = new XMLHttpRequest()
    var data = 'email=' + email
    xhr.open('POST', url_for('reset_password'))
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.send(data)
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200){
            console.log("success")
        }
    }
}
</script>

{% endblock %}
